body, html {
    height: 100%;
    margin: 0;
    background-color: #cce5ff;
  }
  
form{
color: whitesmoke;
margin-top: 3vh
}

table, th, td {
border: 2px solid #2A677C;
margin: 2vw;
width: 93.9vw;
font-size: 3vh;
}

.bgimg { 
    height: 100%;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    font-family: poppins;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 4px 4px 7px black;
}

.hasil{
    margin: 20px;
    padding: 50px;
    font-size: 3vh;
    border: 3px solid #2A677C; 
    border-radius: 13px;
} 

.text-about{
    font-family: poppins;
    font-size: 3.3vh;
}

.middle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.tengah{
position: absolute;
min-height: 100%;;
width: 100%;
color: whitesmoke;
padding-top: 4%;
padding-left: 5%;
padding-right: 5%;
font-style: normal;
text-align: justify;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
}

.marginbutton{
margin-top: 3vh;
}

.form-control{
    background: transparent;
    border-radius: 100px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    height: 40px;
}

::placeholder{
    color: white;
}

.btn{
    border-radius: 100px;
    border: 0px;
    width: 100px;
}